/* header */
body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
nav{
    background-color: rgb(57, 53, 88);
    display: flex;
    justify-content: center;
    
}
nav span{
    color: white;
    
}
nav ul, nav div{
    display: flex;
    flex: 1;
    align-content: center;
    list-style-type: none;
}
nav ul li span{
    margin: 0 2px;
    
}
nav div{
    display: flex;
    justify-content: center;
    align-self: center;

}
header section{
    background-color: red;
    display: flex;
    flex-direction: column;
    color: white;
}
header section div img{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}
header section div span{
    display: flex;
    justify-content: center;
    margin: 20px;
    text-transform: uppercase;
    font-size: x-large;
}
header section p{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: small;
}
/* end of header */
/* first section (portfolio) */
.portfolio{
    background-color: white;
}
.portfolio span{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 40px;
    text-transform: uppercase;
    font-size: 2em;
}
.portfolio .ligne1, .ligne2 {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.portfolio img{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}
.portfolio .ligne2{
    margin-top: 30px;
    margin-bottom: 100px;

}
/* end portfolio */
/* about */
.about{
    background-color: red;
    color: white;
    
}
.about span{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
}
.about div{
    display: flex;
    margin: 0 300px;

}
/* end about*/
/* formulaire */
.form-contact span{
    display: flex;
    justify-content: center;
    border-top: 30px;
    margin: 30px 0;
}
.form-contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-contact form input,  form textarea{
    
    width: 389px;
    border: none;
    border-bottom: lightgray 1px solid;
    padding-bottom: 20px;

}
input:focus,textarea:focus{
    outline: none;
}
.form-contact button{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    padding: 8px;
    color: white;
    margin-bottom: 30px;
}
/* end contact */
/* footer */
.container{
    background-color:rgb(57, 53, 88) ;
    display: flex;
    justify-content: center;
    color: white;
    
}
.container div{
    margin:30px;
}
.container h4{
    text-align: center;
    font-size: larger;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* footer div{
    color: white;
    display: flex;
    
    justify-content: space-around;
} */
.container .logo a{
    color: white;
}
.container .logo a i{
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}
.container .lien a{
    text-decoration: none;
    color: teal;
}
.copy{
    background-color: black;
    display: flex;
    
    

}
.copy p{
    color: white;
    /* text-align: center; */
    justify-content: center;
    align-self: center;

}
@media screen  and (max-width:600px) {
    nav{
        width: 100%;
    }
    .about{
        width: 100%;
    }
    .about div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        /* margin:auto; */
        margin: 0 50px;
    }
    .form-contact{
        width:100% ;
        display: flex;
        flex-direction: column;
    }
    .form-contact form input{
        width: auto;
    }
    .form-contact form textarea{
        width: 166px;
    }
    
    .form-contact form{
        
        display: flex;
        justify-content: space-around;
        margin: 15px 15px;
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
    }
    .container{
        width: 100%;
    }
    .container div{
        width: 10%;
        padding: auto;
        display: flex;
        flex-direction: column;
    }
    

        
    
    
}
@media screen and (min-width: 600px) and (max-width:1024px) {
    .about div{
        display: flex;
    }
    .about div p{
        display: flex;
        
        margin: 20px 25px ;
    }

    
}
@media screen and (min-width:1024px) {
    
}
    
    


